<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
</head>
<body>
    <h1>Inbox</h1>
    <h1>Welcome, <%= fullName %>!</h1>
    <table>
        <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
      <div>mรก m</div>
    </table>
</body>
</html>
