<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng nhập</title>
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .signin-container {
    background-color: rgb(31, 196, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .signin-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 400px;
    width: 100%;
    align-items: center;
  }

  .form-signin {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  input {
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(165, 162, 162);
  }

  .signin-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    height: 40px;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(9, 175, 226);
    font-weight: 600;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }

  .create-signup {
    margin-top: 16px;
  }

  a {
    text-decoration: none;
    color: rgb(8, 164, 192);
  }

  h1 {
    font-weight: 600;
  }
</style>

<body>
  <div class="signin-container">
    <div class="signin-content">
      <h1>Đăng nhập</h1>
      <div>
        <!-- xử lấy form này thì truyền action với đường link api để xử lý và method -->
        <form action="/auth" method="POST" class="form-signin">
          <input type="text" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <!-- show lỗi khi dùng ejs -->
          <% if (typeof error !=='undefined' && error) { %>
            <div style="color: red;">
              <%= error %>
            </div>
            <% } %>
              <div class="signin-button">
                <button type="submit">Đăng nhập</button>
              </div>
        </form>
        <div class="create-signup">
          Bạn chưa có tài khoản? <a class="" href="/signup">Create new account</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>